{% extends "base.html" %}
{% block content %}

<h2 class="text-2xl font-semibold text-center mb-4">Confirme sua presença</h2>

<div class="max-w-md mx-auto mb-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
            <div class="p-3 mb-2 text-white rounded
                {% if category == 'success' %} bg-green-500
                {% elif category == 'info' %} bg-blue-500
                {% else %} bg-red-500 {% endif %}">
                {{ msg }}
            </div>
        {% endfor %}
    {% endwith %}
</div>

<form method="POST" class="max-w-md mx-auto bg-white p-6 rounded-lg shadow">
    
    <label class="block mb-2">Selecione seu nome:</label>
    <select name="nome" required class="w-full border p-2 mb-4">
        <option value="">Escolha...</option>
        {% for c in convidados %}
            <option value="{{ c.nome }}">{{ c.nome }}</option>
        {% endfor %}
    </select>

    <!-- BOTÕES -->
    <div class="flex flex-col gap-3">
        
        <button 
            type="submit"
            name="presenca"
            value="sim"
            class="w-full bg-green-500 hover:bg-green-600 text-white py-3 rounded-lg shadow font-semibold"
        >
            Confirmar presença 🎉
        </button>

        <button 
            type="submit"
            name="presenca"
            value="nao"
            class="w-full bg-red-500 hover:bg-red-600 text-white py-3 rounded-lg shadow font-semibold"
        >
            Não poderei comparecer 😢
        </button>

    </div>
</form>

{% endblock %}